@charset "utf-8";
@import url("https://use.typekit.net/hxo5ggb.css");
/* CSS Document */
/* Normal Laptop Screen */
/*@media screen and (height:568px) and (min-width:952px) {*/

body {
	background-image: linear-gradient(to right,rgba(0,187,97,0.48),#02502B);
	font-family: paralucent, sans-serif;	
	font-weight: 300;
}
span.highlight {
	background-color: #FFD500;
	padding-left:5px;
	padding-right:5px;
}
h1.cta {
	font-weight: 300; /*Set explicit override*/
	color: white;
	font-size: 36pt;
	position: fixed;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
}
.logo {
		width: 150px;
		height: 75px;
	}
#dropdown, #dropdown2,a.dropdown,.dropdown2,.navbar-link,tr.wrapper {
	color: white;
	font-size: 28px;
	text-decoration: none;
	vertical-align: top;
	margin: auto;
}
.signin {
	padding: 2px;
	padding-top: 0;
	vertical-align: top;
}
#dropdown, #dropdown2, .navbar-link {
	display: inline-block;
	text-align: center;
}

.dropdown,.dropdown2 {
	text-align: center;
	display: none;
	/*
	padding: 2px 0 2px 0;
	*/
}

tr {
	display: block;
}
.show {
	display: inline-block;
}
table.wrapper {
	height: 306px;
}
tr.wrapper, tr.wrapper > td {
	height:302px;
}
table.dd1 {
	height:263px;
	width: 263px;
}
table.dd2 {
	height:263px;
	width: 242px;
}

/*
tr > td {
	margin: 0 auto;
	display: inline-block;
}
*/
/*}*/
/*

@media screen and (height:977px) and (min-width:1900px) {
body {
	background-image: linear-gradient(to right,rgba(0,187,97,0.48),#02502B);
}
span.highlight {
	background-color: #FFD500;
	padding-left:5px;
	padding-right:5px;
}
h1.cta {
	margin-top:270px;
	padding-bottom:20px;
	color: white;
	font-size: 60pt;
	font-family: paralucent, sans-serif;
	font-weight: 300;
	display: block;
}
	
p.cta {
	text-align: center;
	color: white;
	font-size: 24pt;
	font-family: paralucent, sans-serif;
	font-weight: 300;
	display: block;
}
.general {
	margin-left: 30px;
}

.logo {
	width: 416px;
	height: 192px;
}
table, tr, td {
	border-collapse: separate;
} 
td.signup,iframe.cta-signup {
	margin-top: 100px;
	margin-left: 600px;
	padding: 10px;
	padding-left: 35px;
	padding-right:20px;
}

iframe {
	background-color: #D1E1D9;
	border: 0;
	height: 620px;
	width: 620px;
}
}
*/

