@charset "utf-8";
@import url("https://use.typekit.net/hxo5ggb.css");
/* CSS Document */
body {
	background-image: linear-gradient(to right,rgba(0,187,97,0.48),#02502B)
}
span.highlight {
	background-color: #FFD500;
}
h1.cta {
	margin-top:200px;
	color:white;
	font-size:48pt;
	font-family: paralucent, sans-serif;
	font-weight: 300;
	display:block;
	margin-right:500px;
	margin-left: 55px;
}

.logo {
	width: 416px;
	height: 192px;
}
