@charset "utf-8";
@import url("https://use.typekit.net/hxo5ggb.css");
/* Normal Laptop Screen */
/*@media screen and (min-height:568px) and (min-width:952px) {*/
.left {
	width: 600px;
}
.contact-methods {
	width: 600px;
}
.longlink {
	width: 800px;
}
body {
	background-image: linear-gradient(to right,rgba(0,187,97,0.48),#02502B);
	font-family: paralucent, sans-serif;	
	font-weight: 300;
}
span.highlight {
	background-color: #FFD500;
	padding-left:5px;
	padding-right:5px;
}
p.cta {
	color: white;
	font-size: 40pt;
	display: block;
}
.logo {
		width: 300px;
		height: 150px;
	}
iframe {
	background-color: #D1E1D9;
}
table,td,tr {	
	table-layout: fixed;
}
/*}*/
/*

@media screen and (min-height:977px) and (min-width:1900px) {
body {
	background-image: linear-gradient(to right,rgba(0,187,97,0.48),#02502B);
}
span.highlight {
	background-color: #FFD500;
	padding-left:5px;
	padding-right:5px;
}
h1.cta {
	margin-top:270px;
	padding-bottom:20px;
	color: white;
	font-size: 60pt;
	font-family: paralucent, sans-serif;
	font-weight: 300;
	display: block;
}
	
p.cta {
	text-align: center;
	color: white;
	font-size: 24pt;
	font-family: paralucent, sans-serif;
	font-weight: 300;
	display: block;
}
.general {
	margin-left: 30px;
}

.logo {
	width: 416px;
	height: 192px;
}
table, tr, td {
	border-collapse: separate;
} 
td.signup,iframe.cta-signup {
	margin-top: 100px;
	margin-left: 600px;
	padding: 10px;
	padding-left: 35px;
	padding-right:20px;
}

iframe {
	background-color: #D1E1D9;
	border: 0;
	height: 620px;
	width: 620px;
}
}
*/


